<h1 class="title comic-title">Comics</h1>

<ul class="comics-list">
  <% comics.each(function (comic) { %>
    <li class="comic-item"><a href="#/comics/<%= comic.id %>" class="comic-link">
      <%= comic.get('title') %>
    </a></li>
  <% }) %>
</ul>

<% if (ComicApp.CU.signedIn)  { %>
  <a href="#/comics/new">Or Make a new Comic</a>
<% } %>
