<h1 class="title comic-title"><%= comic.escape('title') %></h1>

<figure class="comic-picture">
  <img src="<%= comic.get('image_url') %>" alt="comic" />
</figure>

<p class="comic-body">
  <%= comic.escape('body') %>
</p>
