<h1 class="title comic-title"><%= comic.escape('title') %></h1>

<% if (parseInt(comic.get('author_id')) === ComicApp.CU.id || ComicApp.CU.isAdmin()) { %>
  <button class="delete-comic">Delete This Comic</button>
  <a href="#comics/<%= comic.id %>/edit">Edit This Comic</a>
<% } %>

<figure class="comic-picture">
  <img src="<%= comic.get('image_url') %>" alt="comic" />
</figure>

<p class="comic-body">
  <%= comic.escape('body') %>
</p>
