<div id="info" class="hidden">
  <ul class="errors">

  </ul>
  <ul class="notices">

  </ul>
</div>

<header id="header">

</header>

<main id="content">

</main>

<div id="modal" class="hidden">

</div>
